body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Verdana, 'Geneva', Tahoma, sans-serif;
}

.header-section-fullwidth,
.images-section-fullwidth,
.quote-section-fullwidth,
.signup-section-fullwidth,
.footer-section-fullwidth {
    display: flex;
    justify-content: center;
}

.header-section,
.signup-section,
.footer-section {
    flex: 0.8;
}

.header-section-fullwidth,
.header-section,
.footer-section-fullwidth,
.footer-section {
    background-color: #1F2937;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-banner-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

.header-links li {
    font-size: 18px;
    color: #E5E7EB;
}

.header-hero-container {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 10px;
}

.hero-text,
.hero-image {
    flex: 0.5;
}

.hero-text h1 {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text button {
    padding: 5px 15px 5px 15px;
    background-color: #3882F6;
    border-radius: 10px;
    margin-top: 6px;
    border: none;
    color: #F9FAF8;
    font-weight: 700;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    background-color: darkgrey;
    color: white;
}

.images-section-fullwidth,
.images-section,
.signup-section-fullwidth,
.signup-section {
    background-color: white;
}

.images-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 0.7;
}

.images-section h2 {
    margin: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.images-carousel {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    color: #1F2937;
}

.carousel-item-outline {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quote-section-fullwidth,
.quote-section {
    background-color: #E5E7EB;
}

.quote-section {
    flex: 0.5;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding-top: 50px;
    padding-bottom: 40px;
}

.quote-author {
    text-align: end;
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    font-style: normal;
}

.signup-section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: #3882F6;
    border-radius: 10px;
}

.signup-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.signup-box-text {
    color: #E5E7EB;
}

.signup-box-text-title {
    color: #F9FAF8;
    font-weight: 900;
}

.signup-section button {
    padding: 5px 15px 5px 15px;
    background-color: #3882F6;
    border-radius: 10px;
    margin-top: 6px;
    border: 2px solid white;
    color: #F9FAF8;
    font-weight: 700;
}

.footer-section {
    margin: 15px;
    color: #E5E7EB
}

.footer-section,
.signup-section,
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}